#header {
  font-size: 18px;
  .block-logo {
    text-align: center;
    p {
      padding-top: 0.5rem;
    }
  }
  .phone {
    font-size: 2rem;
    color: #496f6e;
    font-weight: bold;
  }
  .img-logo {
    width: 15vw;
  }
  .date {
    margin: 0;
    color: #ffcb08;
  }
}
@media (max-width: 998px) {
  #header {
    position: relative;
    .header-colum {
      flex-direction: column;
    }
  }
}
@media (max-width: 660px) {
  #header {
    .date {
      display: none;
    }
    .img-logo {
      width: 40vw;
    }
  }
}
@media (max-width: 460px) {
  #header {
    padding: 15px;
  }
}
